# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Makefiles, and TestPreferences
!Makefile
!TestPreferences
!*/3rdParty/Makefile

# Unignore version file
!version

*.cub
*.o
*.so
*.so.*
*.a
moc_*
*.pb.*
*.lbl
*.img
*.kate-swp
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
*.moc
ui_*.h
*html

# ignore all files created by squish coco
*csmes
*csexe

print.prt

*/3rdParty/*
*/inc/*
*/bin/*
*/lib/*
*/tsts/*/input/*
*/tsts/*/truth/*
*/tsts/*/output/*
*/build/
build/
install/

# Unignore the documentation build
!isis/src/docsys/build
!isis/src/docsys/Object/build
!isis/src/docsys/Application/build

# Unignore msi2isis label files in data area as input files require these
!isis/tests/data/near/msi2isis/*.lbl
!isis/tests/data/near/msicamera/*.cub

# Ignore vs code
.vscode

# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
.idea
