name: isis
channels:
  - krodriguez
  - usgs-astrogeology
  - conda-forge
  - probcomp
  - anaconda
  - jlaura
  - defaults
dependencies:
  - ca-certificates==2017.08.26
  - dbus==1.10.20=0
  - future==0.16.0
  - gst-plugins-base
  - gstreamer==1.8.0=0
  - jsoncpp==1.8.3
  - libgcc==4.8.5=1
  - libgcc-ng==7.2.0
  - libgfortran==3.0=0
  - libstdcxx-ng==7.2.0
  - qwt=6.1.3
  - pyqt=5.6.0
  - sip=4.18
  - libxcb==1.12=1
  - mysql==5.7.20
  - ncurses==5.9=10
  - ninja==1.7.2=0
  - patchelf==0.9
  - pip==9.0.1
  - setuptools=38.5.1
  - wheel==0.30.0
  - xerces-c==3.1.4=0
  - xz==5.2.3=0
  - zlib==1.2.11=0
  - blas==1.1=openblas
  - boost==1.65.1
  - boost-cpp==1.65.1
  - bzip2==1.0.6=1
  - cairo==1.14.6=4
  - certifi==2018.1.18
  - cmake==3.9.1=0
  - cspice==66-0
  - curl==7.55.1=0
  - doxygen==1.8.14=0
  - eigen==3.3.3=0
  - embree==2.14.0=0
  - expat==2.2.5=0
  - ffmpeg==3.2.4=3
  - flann==1.8.4=0
  - fontconfig==2.12.1=4
  - freeglut==3.0.0=4
  - freetype==2.7=1
  - geos==3.5.1=1
  - geotiff==1.4.2=1
  - gettext==0.19.8.1=0
  - giflib==5.1.4=0
  - glib==2.51.4=0
  - gmp==6.1.2=0
  - gsl==2.2.1=blas_openblas_3
  - harfbuzz==1.3.4=2
  - hdf5==1.8.18=2
  - icu==58.2=0
  - jasper==1.900.1=1
  - jbig==2.1=0
  - jpeg==9b=2
  - krb5==1.14.2=0
  - lapack==3.6.1=1
  - libffi==3.2.1=3
  - libiconv==1.15=0
  - libpng==1.6.28=2
  - libssh2==1.8.0=2
  - libtiff==4.0.9=0
  - libuv==1.11.0=0
  - libwebp==0.5.2=7
  - libxml2==2.9.7=0
  - llvm-meta==5.0.0=0
  - llvmdev==5.0.0=default_1
  - m4==1.4.17=1
  - mesalib==17.2.0=0
  - metis==5.1.0=3
  - mpc==1.0.3=4
  - mpfr==3.1.5=0
  - mysql-connector-c==6.1.6=0
  - nanoflann==1.2.2=0
  - nn==1.86.0=2
  - numpy==1.13.3=py36_blas_openblas_200
  - openblas==0.2.19=2
  - opencv==3.2.0=np113py36_blas_openblas_203
  - openssl==1.0.2n=0
  - pcre==8.39=0
  - pixman==0.34.0=1
  - proj4==4.9.3=5
  - pthread-stubs==0.3=1
  - python==3.6
  - readline==6.2=0
  - rhash==1.3.4=0
  - six==1.11.0
  - sqlite==3.13.0=1
  - suitesparse==4.5.4=blas_openblas_200
  - superlu==5.2.1=blas_openblas_201
  - tbb==4.4_20160526=1
  - tk==8.5.19=2
  - vtk==8.1.0
  - x264==20131217=3
  - xorg-kbproto==1.0.7=1
  - xorg-libx11==1.6.4=6
  - xorg-libxau==1.0.8=3
  - xorg-libxdmcp==1.1.2=3
  - xorg-libxrender==0.9.10=0
  - xorg-renderproto==0.11.1=1
  - xorg-xproto==7.0.31=6
  - bz2file==0.98
  - cloog==0.18.0=0
  - gcc==4.8.5=7
  - isl==0.12.2=0
  - protobuf==3.5.1
  - system==5.8=2
  - libprotobuf==3.2.0=0
  - bullet==2.86.1=0
  - ds9==7.5=0
  - gmm==5.0=0
  - jama==125=0
  - pcl==1.8.1=0
  - qhull==7.2.0=0
  - qt==5.7.1=0
  - qwt==6.1.3=0
  - tnt==126=0
  - xalan-c==1.11=0
prefix: /scratch/anaconda3/envs/isis
