channels:
  - conda-forge
  - defaults

dependencies:
  - kalasiris 
  - ale>=0.10.0, <1
  - armadillo
  - boost=1.72
  - boost-cpp=1.72
  - blas
  - usgs-astrogeology::bullet
  - bz2file
  - bzip2
  - cmake >=3.15
  - cspice=67
  - csm>=3.0.3,<3.0.4
  - curl
  - cxx-compiler=1.1.2
  - doxygen
  - eigen < 3.4
  - embree>=2.17,<3
  - ffmpeg
  - geos =3.11.1
  - geotiff
  - gmp
  - graphviz
  - gsl>=2.6
  - hdf5
  - icu
  - inja
  - jama
  - jpeg
  - usgs-astrogeology::kakadu==1
  - krb5
  - libopencv>=4.5.2
  - libpng>=1.6.34
  - libprotobuf<3.20
  - libtiff>=4.0
  - libxml2
  - make
  - mesalib
  - mysql
  - mysql-connector-c
  - nanoflann<1.4
  - nlohmann_json
  - ninja==1.7.2
  - nn
  - opencv>=4.5.2
  - openssl>=1.1.1k
  - pcl >= 1.10.0
  - plio
  - protobuf<3.20
  - python>=3.7.11
  - pytest
  - rclone
  - qhull
  - qt>=5.9.6,<5.15.0
  - qwt
  - sqlite
  - suitesparse
  - superlu
  - swig
  - texlive-core
  - tnt
  - x264
  - xalan-c
  - xerces-c=3
  - xorg-kbproto
  - xorg-libice
  - xorg-libsm
  - xorg-libx11
  - xorg-libxi
  - zlib
