channels:
  - conda-forge
  - usgs-astrogeology
  - defaults

dependencies:
  - ale>=0.3.2
  - boost=1.68.0
  - armadillo
  - blas
  - boost-cpp<=1.67
  - bullet==2.86.1
  - bz2file
  - bzip2
  - cmake >=3.10
  - cspice
  - curl
  - doxygen
  - eigen
  - embree
  - geos=3.5.1
  - geotiff
  - gmm
  - gmp
  - gsl
  - hdf5
  - icu
  - jama
  - jpeg==9b
  - kakadu==1
  - krb5
  - libpng>=1.6.34
  - libprotobuf=3.9.1
  - libtiff
  - libxml2
  - make
  - mesalib
  - mysql
  - mysql-connector-c
  - nanoflann
  - nlohmann_json
  - ninja==1.7.2
  - conda-forge/label/gcc7::nn
  - opencv>=3.0.0,<=4.0.0
  - openssl
  - pcl==1.8.1
  - protobuf=3.9.1
  - qhull
  - qt=5.9.6
  - qwt=6.1.3
  - sqlite
  - suitesparse
  - superlu
  - tnt
  - x264
  - xalan-c
  - xerces-c
  - xorg-kbproto
  - xorg-libice
  - xorg-libsm
  - xorg-libx11
  - xorg-libxi
  - zlib
