  /*  ISIS APPLICATION PROGRAMMING DOC STYLE SHEET
   *  FILENAME: IsisApplicationDocStyle.css
   *
   *  Purpose: formatting style sheet for Isis Application
   *           Programmer documentation presentation
   *
   *  Author:  Deborah Lee Soltesz, USGS, 04/03/2002
   */

    /* ----------------------------------------------------------------
    Accordions for Parameter info */

    .acc-flex-head {
      background-position: left 1.25rem center;
      display: flex;
      padding: 0;
    }

    .acc-param-name {
      min-width: 20ex;
      padding: 0.5rem 0.75rem 0.5rem 3.5rem;
    }

    .acc-param-desc {
      font-weight: normal;
      padding: 0.5rem 1.25rem 0.5rem 0.75rem;
      /* border-left: 2px solid white; */
    }

    /* Change Expansion symbols */
    .acc-flex-head[aria-expanded="false"], .acc-flex-head[aria-expanded="false"]:hover {
      background-image: url(../../../../assets/img/usa-icons/expand_more.svg);
    }
    .acc-flex-head, .acc-flex-head:hover {
      background-image: url(../../../../assets/img/usa-icons/expand_less.svg);
    }

    /* Every other blue*/
    .usa-accordion > h4:nth-child(4n+1) > button {
      background-color: #D8F2FF;
    }
    .usa-accordion > h4:nth-child(4n+1) > button:hover {
      background-color: #c2e8fb;
    }
    .usa-accordion > div:nth-child(4n+2) {
      border-bottom: 0.25rem solid #D8F2FF;
      border-left: 0.25rem solid #D8F2FF;
      border-right: 0.25rem solid #D8F2FF;
    }

    /* Different table style if within parameter info */
    .usa-accordion__content tbody > tr:nth-child(odd) {
      background-color: unset;
    }
    .usa-accordion__content table {
      border-collapse: collapse;
    }
    .usa-accordion__content tbody > tr {
      border-bottom: 2px solid lightgray;
    }

    /* stick together */
    /* .usa-accordion > h4 {
      margin: 0 !important;
    } */

    /* Every other white */
    /* .usa-accordion > h4:nth-child(4n+3) > button {
      background-color: white;
    } */
    /* .usa-accordion > div:nth-child(4n) {
      border-bottom: 0.25rem solid white;
      border-left: 0.25rem solid white;
      border-right: 0.25rem solid white;
    } */

    /* ----------------------------------------------------------------
     * TABLE CELL FORMATTING: table styles for figures; use with CAPTIONS     */




     /* LEVEL 1: outside level of table cells*/

    /* .tableCellLevel1
              {
                border:       1px ;
                border-color: #88AACC ;
                border-style: solid ;
              }

    .tableCellLevel1_th
              {
                border:           3px ;
                border-color:     #88AACC ;
                border-style:     solid ;
                background-color: #BBDDEE ;
              } */


    .tableCellLevel1_type {
      font-style:   italic ;
    }

    .tableCellLevel1_name {
      font-weight:  bold ;
    }

    /* .tableCellLevel1_description
              {
                border:       1px ;
                border-color: #88AACC ;
                border-style: solid ;
              } */


     /* LEVEL 2: level of table cells nested inside an outer table */

    .tableCellLevel2
              {
                border:       1px ;
                border-color: #CCCCCC ;
                border-style: solid ;
                font-size:    80%;
                font-family: Arial, Helvetica, Geneva, sans-serif ;
              }

    .tableCellLevel2_type
              {
                border:       1px ;
                border-color: #CCCCCC ;
                border-style: solid ;
                font-style:   italic ;
                font-size:    80% ;
                font-family: Arial, Helvetica, Geneva, sans-serif ;
              }

    .tableCellLevel2_name
              {
                border:       1px ;
                border-color: #CCCCCC ;
                border-style: solid ;
                font-weight:  bold ;
                font-size:    80% ;
                font-family: Arial, Helvetica, Geneva, sans-serif ;
              }

    .tableCellLevel2_description
              {
                border:       1px ;
                border-color: #CCCCCC ;
                border-style: solid ;
                font-size:    80% ;
                font-family: Arial, Helvetica, Geneva, sans-serif ;
              }




    /* ----------------------------------------------------------------
     * TABS: tab styles */

    .tab-line {
      border-top: 2px solid lightgray;
      border-bottom: 2px solid lightgray;
    }

    .tab-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    .tab-list > li {
      padding: 0 1rem;
    }

    .tab {
      padding: 0.5rem 0;
      cursor: pointer;
      display: inline-block;
    }

    .tabOn {
      color: black;
      border-bottom: 4px solid #2672de;
      font-weight: bold;
    }

    .tabOff {
      color: #666666;
    }

    .tabOff:hover {
      color: #2672de;
      border-bottom: 4px solid #2672de;
    }

    /* ----------------------------------------------------------------
     * PAGE VIEW: page view styles */

     .pageView {
                 border:      3px;
                 border-style:solid;
                 border-color:#88AACC ;
               }

     .functionView {
                      background-color: #e3e9eF;
                      border-top:       3px;
                      border-left:      3px;
                      border-right:     3px;
                      border-bottom:    3px;
                      border-style:     solid;
                      border-color:     #666666;
                      padding:          10px;

                      display:       none;
                   }





    /* -------------------------------------------------------------
     * TOC Table: color override style for application documentation */

     table.tableFormattedInformation caption
               {
                 border-color: #369 ;
                 background-color: #ACE ;
               }

     table.tableFormattedInformation th
               {
                 border-color: #68A ;
                 background-color: #9BD ;
               }

    /* -------------
     * History Table */

    .tableCellHistory_date
              {
                font-style:   italic ;
                vertical-align: top ;
                padding: 3px ;
              }

    .tableCellHistory_name
              {
                font-weight:  bold ;
                vertical-align: top ;
                padding: 3px ;
              }

    .tableCellHistory_description
              {
                vertical-align: top ;
                padding: 3px ;
              }



