  /*  ISIS STYLE SHEET
   *  FILENAME: main.css
   *
   *  Purpose: formatting style sheet for upper level
   *           Isis pages
   *
   *  Author:  Deborah Lee Soltesz, USGS, 04/03/2002
   */



     h1       {
               color: #993333 ;
              }

     h1.subtitle
              {
               color: #663333 ;
              }

     h2       {
               background-color: #CCAA88 ;
              }

     h3       {
               color: #993333 ;
              }


     h4       {
               color: #993333 ;

              }

     h5       {
               color: #993333 ;
              }

     h6       {
               color: #993333 ;
              }

     HR       {
               color: #990000 ;
              }

     .isisNavigationBar {
                margin-left: auto ;
                margin-right: auto ;
                background-color: white ;
                padding: 5px;
                text-align: center ;
              }
     div.isisNavigationBar {
                background-color: #600 ;
              }

     div.isisNavigationBar table {
                width: 600px ;
                margin-left: auto ;
                margin-right: auto ;
                border: 0px solid transparent ;
                border-collapse: collapse ;
                padding: 0px;
                background-color: white ;
              }

     div.isisNavigationBar table td {
                padding: 0px ;
                margin: 0px ;
              }

     div.isisNavigationBar img {
                padding: 0px ;
                margin: 0px ;
              }






