  /*  MAIN STYLE SHEET
   *  FILENAME: menu.css
   *
   *  Purpose: style sheet for Isis website menu
   *
   *  Author:  Deborah Lee Soltesz, USGS, 11/2002
   */


    /* ----------------------------------------------------------------
     * HEADINGS */



     .isisMenu h1,
     .isisMenu h2,
     .isisMenu h3,
     .isisMenu h4,
     .isisMenu h5,
     .isisMenu h6
             {
               font-family: Verdana, Helvetica, Geneva, Arial, sans-serif ;
               font-size: 80% ;
               font-weight: bold ;
               text-align: left ;
             }

     .isisMenu h1      {
               font-variant: small-caps ;
               font-size: 120% ;

               margin-top:10px;
               margin-bottom:2px;
               padding: 2px;

               background-color: #667733 ;
               color: white ;
             }


     .isisMenu h2      {
               font-variant: small-caps ;
               text-decoration: none ;

               margin-top:2px;
               margin-bottom:2px;
               padding: 2px ;
               background-color: #CCAA88 ;
               opacity: .60;
               filter: alpha(opacity=60);
               -moz-opacity: 0.6 ;
             }


     .isisMenu h3      {
               font-style: italic ;
               text-decoration: none ;
               margin-top:10px;
               margin-bottom:5px;
             }


     .isisMenu h4      {
               text-decoration: underline ;
               margin-top:10px;
               margin-bottom:5px;

             }

     .isisMenu h5      {
               text-decoration: underline ;
               margin-top:10px;
               margin-bottom:5px;
             }

     .isisMenu h6      {
               font-variant: small-caps ;
               text-decoration: underline ;
               margin-top:10px;
               margin-bottom:5px;
             }

     .isisMenu hr      {
               color: #C98 ;
               background-color: #C98 ;
               height: 1px ;
               border: 0px ;
               margin-bottom: 1px ;
               margin-top: 20px ;
             }



     .isisMenu div     {
               text-align: left ;
               margin-bottom:3px ;
               margin-top:3px ;
             }

     .isisMenu a       {
               width: 95%;
               font-variant: small-caps ;
               font-weight: bold ;
               text-decoration: none ;
               padding: 2px ;
               color: #CC0000 ;
             }

     .isisMenu a:visited
             {
               color: #663333 ;
               font-weight: bold ;
               text-decoration: none;
             }

     .isisMenu a:hover {
               padding: 1px;
               background-color: #EEEEAA ;
               border: 1px solid silver ;
             }

     .isisMenu a:active
             {
               color: #AA9933 ;
               font-weight: bold ;
               text-decoration: none;
               padding: 1px;
               background-color: #EEEEDD ;
               border: 1px solid #CCCCAA ;
             }

/* Search styles */

     .isisMenu table.AstroIsisSearch
           {
              width: 150px ;
              /*border: 2px solid #6655AA ;*/
            }

     .isisMenu .AstroIsisSearch a
           {
              width: AUTO ;
              font-variant: normal ;
              font-weight: bold ;
              text-decoration: none ;
              padding: 2px ;
              color: #CC0000 ;
              font-size: 80%;
            }

     .isisMenu .AstroIsisSearch a:visited
            {
              color: #663333 ;
              font-weight: bold ;
              text-decoration: none;
            }

     .isisMenu .AstroIsisSearch a:hover {
              padding: 1px;
              background-color: #EEEEAA ;
              border: 1px solid silver ;
            }

     .isisMenu .AstroIsisSearch a:active
            {
              color: #AA9933 ;
              font-weight: bold ;
              text-decoration: none;
              padding: 1px;
              background-color: #EEEEDD ;
              border: 1px solid #CCCCAA ;
            }



