name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "0 15 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        days-before-stale: 180
        days-before-close: 180
        stale-issue-message: "Thank you for your contribution!\n\nUnfortunately, this issue hasn't received much attention lately, so it is labeled as 'stale.'\n\nIf no additional action is taken, this issue will be automatically closed in 180 days."
        stale-pr-message: "Thank you for your contribution!\n\nUnfortunately, this pull request hasn't received much attention lately, so it is labeled as 'stale.'\n\nIf no additional action is taken, this pull request will be automatically closed in 180 days.\n\nIf you want to participate in our prioritization meetings or be notified when support sprints are happened, you can sign up the support sprint notification emails [here](https://public.govdelivery.com/accounts/USDOIGS/signup/39118)"
        stale-issue-label: 'inactive'
        stale-pr-label: 'inactive'

