  /*  ISIS APPLICATION PROGRAMMING DOC STYLE SHEET
   *  FILENAME: IsisApplicationDocStyle.css
   *
   *  Purpose: formatting style sheet for Isis Application
   *           Programmer documentation presentation
   *
   *  Author:  Deborah Lee Soltesz, USGS, 04/03/2002
   */


    /* ----------------------------------------------------------------
     * HEADINGS */

     h1       {
               color: #336699 ;
              }

     h2       {
               background-color: #88AACC ;
              }

     h3       {
               color: #336699 ;
              }


     hr       {
               color: #000099 ;
              }


    /* ----------------------------------------------------------------
     * TABLE CELL FORMATTING: table styles for figures; use with CAPTIONS     */



     /* LEVEL 1: outside level of table cells*/

    .tableCellLevel1
              {
                border:       1px ;
                border-color: #88AACC ;
                border-style: solid ;
              }

    .tableCellLevel1_th
              {
                border:           3px ;
                border-color:     #88AACC ;
                border-style:     solid ;
                background-color: #BBDDEE ;
              }


    .tableCellLevel1_type
              {
                border:       1px ;
                border-color: #88AACC ;
                border-style: solid ;
                font-style:   italic ;
              }

    .tableCellLevel1_name
              {
                border:       1px ;
                border-color: #88AACC ;
                border-style: solid ;
                font-weight:  bold ;
              }

    .tableCellLevel1_description
              {
                border:       1px ;
                border-color: #88AACC ;
                border-style: solid ;
              }


     /* LEVEL 2: level of table cells nested inside an outer table */

    .tableCellLevel2
              {
                border:       1px ;
                border-color: #CCCCCC ;
                border-style: solid ;
                font-size:    80% ;
                font-family: Arial, Helvetica, Geneva, sans-serif ;
              }

    .tableCellLevel2_type
              {
                border:       1px ;
                border-color: #CCCCCC ;
                border-style: solid ;
                font-style:   italic ;
                font-size:    80% ;
                font-family: Arial, Helvetica, Geneva, sans-serif ;
              }

    .tableCellLevel2_name
              {
                border:       1px ;
                border-color: #CCCCCC ;
                border-style: solid ;
                font-weight:  bold ;
                font-size:    80% ;
                font-family: Arial, Helvetica, Geneva, sans-serif ;
              }

    .tableCellLevel2_description
              {
                border:       1px ;
                border-color: #CCCCCC ;
                border-style: solid ;
                font-size:    80% ;
                font-family: Arial, Helvetica, Geneva, sans-serif ;
              }




    /* ----------------------------------------------------------------
     * TABS: tab styles */

    .tabOn
              {
                border:              1px ;
                border-bottom:       0px ;
                border-color:        #333399 ;
                border-style:        solid ;
                background-color:    #6666AA;
                font-family: Arial,  Helvetica, Geneva, sans-serif ;
                font-weight:         bold ;
                padding:             5px ;
                color:               #FFFFFF ;
                margin:              0px;
              }

    .tabOff
              {
                border:              1px ;
                border-bottom:       0px ;
                border-color:        #6666AA;
                border-style:        solid ;
                background-color:    #DDCCCC ;
                font-family: Arial,  Helvetica, Geneva, sans-serif ;
                font-weight:         normal ;
                font-style:          italic ;
                padding:             5px ;
                color:               #666666 ;
                margin:              0px;
              }

    .tabHighlight
              {
                border:              1px ;
                border-bottom:       0px ;
                border-color:        #6666AA;
                border-style:        solid ;
                background-color:    #DDDDEE ;
                font-family: Arial,  Helvetica, Geneva, sans-serif ;
                font-style:          italic ;
                padding:             5px ;
                color:               #666666 ;
                margin:              0px;
              }



    /* ----------------------------------------------------------------
     * PAGE VIEW: page view styles */

     .pageView {
                 border:      3px;
                 border-style:solid;
                 border-color:#6666AA;
               }

     .functionView {
                      background-color: #DDDDEE;
                      border-top:       3px;
                      border-left:      3px;
                      border-right:     10px;
                      border-bottom:    10px;
                      border-style:     solid;
                      border-color:     #666666;

                      position:         absolute;
                      padding:          10px;
                      top:              10px;
                      left:             20px;

                      visibility:       hidden;
                   }


    /* -------------------------------------------------------------
     * TOC Table: color override style for application documentation */

     table.tableFormattedInformation caption
               {
                 border-color: #369 ;
                 background-color: #ACE ;
               }

     table.tableFormattedInformation th
               {
                 border-color: #68A ;
                 background-color: #9BD ;
               }


    /* -------------
     * History Table */

    .tableCellHistory_date
              {
                font-style:   italic ;
                vertical-align: top ;
                padding: 3px ;
              }

    .tableCellHistory_name
              {
                font-weight:  bold ;
                vertical-align: top ;
                padding: 3px ;
              }

    .tableCellHistory_description
              {
                vertical-align: top ;
                padding: 3px ;
              }


